<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Log In{% endblock title %}

{% block content %} 
    <div class="container rounded" id="LoginPageContainer">
        <div class="row" id="LoginPageRow">
                <form method="post" id="LoginPageForm">
                    {% csrf_token %} 
                    {{ form.as_p }}
                    <button type="submit" id="LoginPageLoginButton" class="font-weight-lighter btn btn-outline-dark">Log In</button> 
                    <button type="button" id="LoginPageForgotPasswordButton" class="font-weight-lighter btn btn-outline-dark" onclick="location.href='{% url 'password_reset' %}'">Forgot your password?</button>
                </form>
        </div>
    </div>
    <br>
{% endblock content %}