{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}
    
    <div class="container rounded" id="PasswordResetFormContainer">
        <div class="row">
            <div class="col">
                <p class="font-weight-lighter">Forgot your password?</p> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="font-weight-lighter">Enter your email address below, and we'll email instructions for setting a new one.</p>
            </div>
        </div>
        <div class="row">
            <div class="col" >
                <form method="POST" class="font-weight-lighter">
                    {% csrf_token %}
                    <label for="{{ form.email.id_for_label }}" class="col-md-2 control-label text-right">Email<span class="text-red"></span>:</label>
                    {{ form.email }}  <br>
                    <input class="btn btn-outline-dark font-weight-lighter" id="PasswordResetFormButton" type="submit" value="Send me instructions!">
                </form>
            
            </div>
        </div>
    </div>
    <br>

{% endblock content %}