{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}
    <div class="container rounded" style="border: 1px solid black; text-align:center; padding:2%">
        <div class="row">
            <div class="col">
                <p class="font-weight-lighter">Password change</p> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="font-weight-lighter">Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
            </div>
        </div>
        <div class="row">
            <div class="col" >
                <form method="POST" class="font-weight-lighter">
                    {% csrf_token %}
                    
                    <label for="{{ form.old_password.id_for_label }}" class="col-md-2 control-label text-right">Old password<span class="text-red"></span>:</label>
                    {{ form.old_password }}  <br>
                    <label for="{{ form.new_password1.id_for_label }}" class="col-md-2 control-label text-right">New password:</label>
                    {{ form.new_password1 }}  <br>
                    <label for="{{ form.new_password2.id_for_label }}" class="col-md-2 control-label text-right">Confirm password:</label>
                    {{ form.new_password2 }}  <br>
                    <input class="btn btn-outline-dark font-weight-lighter" style="margin-top: 1%;" type="submit" value="Change my password">
                </form>
            </div>
        </div>
    </div>
    <br>

{% endblock content %}