{% extends 'base.html' %}

{% block title %}Enter new password{% endblock title %}

{% block content %}

    <div class="container rounded" style="border: 1px solid black; text-align:center; padding:2%">
        <div class="row">
            <div class="col">
                <p class="font-weight-lighter">Set a new password!</p> 
            </div>
        </div>
        <div class="row">
            <div class="col" >
                <form method="POST" class="font-weight-lighter">
                    {% csrf_token %}
                    <label for="{{ form.new_password1.id_for_label }}" class="col-md-2 control-label text-right">New password:</label>
                    {{ form.new_password1 }}  <br>
                    <label for="{{ form.new_password2.id_for_label }}" class="col-md-2 control-label text-right">Confirm password:</label>
                    {{ form.new_password2 }}  <br>
                    <input class="btn btn-outline-dark font-weight-lighter" style="margin-top: 1%;" type="submit" value="Change my password">
                </form>
            </div>
        </div>
    </div>
    <br>
{% endblock content %}