{% extends 'base.html' %}

{% block title %}Password Change Successful{% endblock title %}

{% block content %}
    <div class="container rounded" style="border: 1px solid black; text-align:center">
        <div class="row">
            <div class="col">
                <p class="font-weight-lighter">Password change successful</p> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="font-weight-lighter">Your password was changed.</p>
            </div>
        </div>
    </div>
    <br>
    

{% endblock content %}