<!-- templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Pinocchio's Pizza & Subs</title> 
        <link href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body> 
        <div class="container" style="height:120px; ">
            <div class="row rounded" style="height:120px; border:1px solid black ">
                <div class="col-4" style="height: 99%; background-image: url({% static 'menu/pizza.png' %}); border-right:1px solid black;"></div>
                <div class="col-4" style="height: 100%; text-align:center; margin:auto">
                    <h3> Pinocchio's Pizza & Subs</h3>
                    <p><img src="{% static 'menu/home-2x.png' %}"> 74 Winthrop StreetHarvard Square</p>
                    <p><img src="{% static 'menu/phone-2x.png' %}"> 617-876-4897</p>
                </div>
                <div class="col-4" style="height: 99%; background-image: url({% static 'menu/pizza.png' %}); border-left:1px solid black;""></div>
            </div>
        </div>
        <br>
        <div class="container rounded" style="height:100px; border:1px solid black">
            <div class="row" style="height:100px; ">
                <div class="col" style="text-align:left; margin:auto">
                    <button type="button" id="menu" class="btn btn-outline-dark" onclick="location.href='{% url 'main_list' %}'">Menu</button>
                    <button type="button" id="menu" class="btn btn-outline-dark" onclick="location.href='{% url 'shopping_cart' %}'">Cart</button>
                    <button type="button" id="menu" class="btn btn-outline-dark" onclick="location.href='{% url 'confirmed_orders' %}'">Order History</button>
                    <!-- <button type="button" id="menu" class="p-2 bd-highlight" onclick="location.href='{% url 'logout' %}'">Log Out </button> -->
                </div>
                {% if user.is_authenticated %}
                    <div class="col-4" style="text-align:center; margin:auto"> 
                        <button type="button" style="width: 45%;" id="menu" class="btn btn-outline-dark" onclick="location.href='{% url 'password_change' %}'">Change Password</button>
                        <button type="button" id="menu" class="btn btn-outline-dark" onclick="location.href='{% url 'logout' %}'">Log Out</button>
                    </div>
                {% else %}
                    <div class="col-2" style="text-align:center; margin:auto"> 
                        <button type="button" id="menu" class="btn btn-outline-dark" onclick="location.href='{% url 'login' %}'">Log In</button>
                    </div>
                    <div class="col-2" style="text-align:center; margin:auto"> 
                        <button type="button" id="menu" class="btn btn-outline-dark" onclick="location.href='{% url 'signup' %}'">Sign Up</button>
                    </div>
                    {% endif %}
            </div>
        </div>
        <br>
        <main>
            {% block content %}
            {% endblock content %} 
        </main>
    </body> 
    <footer>
        <div class="container rounded" style="border:1px solid black;">
            <div class="row">
                <div class="col" style="text-align: center;">
                    <p class="font-weight-lighter" style="font-size: 19px;" >Oh, and always remember:<br>Eat More Pizza!</p>
                </div>
            </div>
            <div class="row" style="height: auto;">
                <div class="col" style="text-align: center">
                        <h6 class="font-weight-lighter" >Pinocchio's Pizza & Subs</h6>
                        <p class="font-weight-lighter"><img src="{% static 'menu/envelope-closed-2x.png' %}"> <a href="mailto:info@pinoccios.com">info@pinoccios.com</a></p>
                        <p class="font-weight-lighter"><img src="{% static 'menu/phone-2x.png' %}"> 617-876-4897</p>                    
                </div>
            </div>
        </div>
      </footer>
      <br>
</html>