{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Customer ID:</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Email</th>
                </tr>
                </thead>
                <tbody>
                    {% for customer in customer %}
                    <tr>
                        <td class="font-weight-lighter" scope="row">{{customer.id}}</td>
                        <td class="font-weight-lighter">{{customer.username}}</td>
                        <td class="font-weight-lighter">{{customer.email}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% for order in order %}
        <div class="container">
            <div class="row">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Confirmed</th>
                        <th scope="col">Date</th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Product Category</th>
                        <th scope="col">Product</th>
                        <th scope="col">Size</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Toppings</th>
                        <th scope="col">Sum</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in order.items %}
                    <tr>
                        <td class="font-weight-lighter">Yes</td>
                        <td scope="row" class="font-weight-lighter">{{order.date}}</td>
                        <td class="font-weight-lighter">{{order.id}}</td>
                        <td class="font-weight-lighter">{{item.category}}</td>
                        <td class="font-weight-lighter">{{item.product_title}}</td>
                        <td class="font-weight-lighter">{{item.size}}</td>
                        <td class="font-weight-lighter">${{item.price}}</td>
                        <td class="font-weight-lighter">{{item.quantity}}</td>
                        <td class="font-weight-lighter">
                            {% for x in item.toppings %}
                                {{x}},
                            {% endfor%}
                        </td>
                        <td class="font-weight-lighter">${{item.sum}}</td>
                        
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="9" class="TableTotalSum">Total:</th>
                        <td colspan="1">${{order.total}}</td>
                    </tr>
                    

                    
                </tbody>
            </table>
        </div>
    </div> 
    {% endfor %}
    
{% endblock content %}
