{% extends 'base.html' %}

{% block content %}
    {% for data in customer %}
    <p>Customer id: {{data.id}} </p>
    <p>Customer username: {{data.username}} </p>
    <p>Customer email: {{data.email}} </p>
    {% endfor %}

    {% for order in order %}
        <table style="border:solid 1px black">
            <tr>
                <th>Date</th>
                <th>Order ID</th>
                <th>Product</th>
                <th>Product category</th>
                <th>Size</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Sum</th>
                <th>Confirmed</th>
            </tr>
            <tr>
                <td>{{order.date}}</td>
                <td>{{order.id}}</td>
            </tr>
            {% for items in order.items %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>{{items.product_title}}</td>
                    <td>{{items.category}}</td>
                    <td>{{items.size}}</td>
                    <td>{{items.price}}</td>
                    <td>{{items.quantity}}</td>
                    <td>{{items.sum}}</td>
                    <td>Yes</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th>TOTAL</th>
                <th>{{order.total}}</th>
            </tr>
        </table>
        <br>
    {% endfor %}
        
        
        
    
{% endblock content %}
