{% extends 'base.html' %}

{% block content %}
<!-- <div>
    <div class="container">
        <div class="row">
            <div class="col rounded" style="border: 1px solid black; text-align:center; margin:auto">
                <p class="font-weight-lighter">Category:</p>
            </div>
            <div class="col-1"></div>
            <div class="col rounded" style="border: 1px solid black; text-align:center;">
                <p class="font-weight-lighter">{{ product.item_category }} </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col rounded" style="border: 1px solid black; text-align:center; margin:auto">
                <p>Product:</p>
            </div>
            <div class="col-1"></div>
            <div class="col rounded" style="border: 1px solid black; text-align:center;">
                <p class="font-weight-lighter">{{ product.title }} </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col rounded" style="border: 1px solid black; text-align:center; margin:auto">
                <p class="font-weight-lighter">Size:</p>
            </div>
            <div class="col-1"></div>
            <div class="col rounded" style="border: 1px solid black; text-align:center;">
                <p class="font-weight-lighter">{{ product.size }} </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col rounded" style="border: 1px solid black; text-align:center; margin:auto">
                <p class="font-weight-lighter">Price:</p>
            </div>
            <div class="col-1"></div>
            <div class="col rounded" style="border: 1px solid black; text-align:center;">
                <p class="font-weight-lighter">{{ product.unit_price }} </p>
            </div>
        </div>
        <br>

    </div>
</div> -->
<div class="container" style="border 1px solid">
    <div class="row" style="border 1px solid">
        <table class="table" style="border: 1px solid black;">
            <thead class="thead-light">
            <tr>
                <th  style="border: 1px solid black" scope="col">Category</th>
                <th scope="col" style="border: 1px solid black">Product</th>
                <th scope="col" style="border: 1px solid black">Size</th>
                <th scope="col" style="border: 1px solid black">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="font-weight-lighter" scope="row" style="border: 1px solid black">{{ product.item_category }}</td>
                <td class="font-weight-lighter" style="border: 1px solid black">{{ product.title }}</td>
                <td class="font-weight-lighter" style="border: 1px solid black">{{ product.size }}</td>
                <td class="font-weight-lighter" style="border: 1px solid black">${{ product.unit_price }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
  


    <form action="/orders/add/" method="POST" name="ordering">
        {% csrf_token %}
        {{ form.as_p}}

        {% if number_of_toppings > 0 %}
            <!-- <label for="toppings">Choose {{number_of_toppings}} toppings:</label><br> -->
            <div class="container rounded" style="border: 1px solid black;">
                <div class="row">
                    <div class="col">
                        <p class="font-weight-lighter">Choose {{number_of_toppings}} toppings:</p>
                    </div>
                </div>
                <div class="row">
                    {% for topping in toppings %}
                    <div class="col-2">
                    <input class="single-checkbox" type="checkbox" name="toppings" id="toppings" value="{{topping.id}}">
                    <label class="font-weight-lighter" for="toppings">{{topping.title}}</label><br>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br>
        {% endif %}
        <div class="container rounded" style="border: 1px solid black;">
            <div class="row">
                <div class="col" style="padding: 1.5%;">
                    <input type="hidden" id="product" name="product" value="{{ product.id }}">
                    <label class="font-weight-lighter" for="quantity">Count:</label>
                    <input type="number" id="quantity" name="quantity" min="0" required>
                    <input class="font-weight-lighter" type="submit" value="Add to order">
                </div>

            </div>

        </div>
        
    </form>

    </div>
    <br>
</div>
{% endblock content %}




