{% extends 'base.html' %}

{% block content %}
<div>
    <table class="collapse" style="border: 1px solid black; border-collapse: collapse;">
        <tr>
            <th style="border: 1px solid black">Category:</th>
            <td style="border: 1px solid black">{{ product.item_category }}</td>
        </tr>
        <tr>
            <th style="border: 1px solid black">Product:</th>
            <td style="border: 1px solid black">{{ product.title }}</td>
        </tr>
        <tr>
            <th style="border: 1px solid black">Size:</th>
            <td style="border: 1px solid black">{{ product.size }}</td>
        </tr>
        <tr>
            <th style="border: 1px solid black">Price:</th>
            <td style="border: 1px solid black">{{ product.unit_price }}</td>
        </tr>
    </table>
    <br>

</div>
<div>
    <form action="/orders/add/" method="POST" name="ordering">
        {% csrf_token %}
        {{ form.as_p}}

        {% if number_of_toppings > 0 %}
            <label for="toppings">Add {{number_of_toppings}} toppings:</label><br>
            {% for topping in toppings %}
                <input class="single-checkbox" type="checkbox" name="toppings" id="toppings" value="{{topping.id}}">
                <label for="toppings">{{topping.title}}</label><br>
            {% endfor %}
        {% endif %}
        <input type="hidden" id="product" name="product" value="{{ product.id }}">
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" name="quantity" min="0" required><br>
        <input type="submit" value="Add to order">
    </form>

</div>
{% endblock content %}




