{% extends 'base.html' %}

{% block title %}Menu{% endblock title %}

{% block content %}
    {% for category in menu_categories %}
        <table style="border: 1px black solid;">
            <tr>
                <th>{{category}}</th>
            </tr>
            {% for item in menu_items %}
                {% if item.item_category == category %}
                <tr>
                    <td><a href="{% url 'item_detail' item.pk %}">{{item}} </a>  | {{item.size}} | {{item.unit_price}}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        <br>
    {% endfor %}
        
{% endblock content %}