{% extends 'base.html' %}

{% block content %}
<div>
    <h2>{{ object.title }}</h2>
    <p>{{ object.size }}</p>
    <p>{{ object.unit_price }}</p>
    <p>{{ object.item_category }}</p>
    <p>{{ object.id }}</p>
</div>
<div>
    <form action="/orders/add/" method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="hidden" id="product" name="product" value="{{ object.id }}">
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" name="quantity" min="0" required><br>
        <input type="submit" value="Add to order">
    </form>
</div>
{% endblock content %}




