{% extends 'base.html' %}

{% block content %}
<div>
    {% for data in customer %}
        <p>Customer id: {{data.id}} </p>
        <p>Customer username: {{data.username}} </p>
        <p>Customer email: {{data.email}} </p>
       

        {% for product in product %}
        <table style="border:solid 1px black">
            <tr>
                <th>Product category</th>
                <th>Product</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sum</th>
            </tr>
            <tr>
                <td>{{product.item_category}}</td>
                <td>{{product.title}}</td>
                <td>{{product.size}}</td>
                <td>{{product.unit_price}}</td>
                <td>{{quantity}}</td>
                <td>{{sum}}</td>
            </tr>
        </table>
    
        <form action="/orders/confirm/" method="POST">
            {% csrf_token %}
            <input type="hidden" id="product" name="product" value="{{product.id}}">
            <input type="hidden" id="customer" name="customer" value="{{data.id}}">
            <input type="hidden" id="quantity" name="quantity" value="{{ quantity }}">
            <input type="submit" value="Confirm order"> 
        </form>
    {% endfor %}
    {% endfor %}

</div>
{% endblock content %}