{% extends 'base.html' %}

{% block content %}
<div>
    {% for data in customer %}
        <p>Customer id: {{data.id}} </p>
        <p>Customer username: {{data.username}} </p>
        <p>Customer email: {{data.email}} </p>
        <p>Order ID: {{order.id}}</p>
        <td>Order date: {{order.date}}</td>
    {% endfor %}

    <table style="border:solid 1px black">
        <tr>
            <th>Product ID</th>
            <th>Product</th>
            <th>Product category</th>
            <th>Size</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Toppings</th>
            <th>Sum</th>
        </tr>
        {% for item in order.items %}
            <tr>
                <td>{{item.product_id}} </td>
                <td>{{item.product_title}}</td>
                <td>{{item.category}}</td>
                <td>{{item.size}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.toppings}}</td>
                <td>{{item.sum}}</td>
            </tr>
        {% endfor %}
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>Total</th>
            <td>{{order.total}}</td>
        </tr>
    </table>
    
        <form action=" {% url 'confirm' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" id="order_id" name="order_id" value="{{ order.id }}">
            <input type="submit" value="Confirm order"> 
        </form>
        
</div>

{% endblock content %}
